<app-headerpage></app-headerpage>
<div class="row mx-3 my-3"> <!-- Added margin from all sides -->
  <div class="col d-flex align-items-center justify-content-start p-3"> <!-- Added padding inside the column -->
    <button title="drawer" type="button" class="btn btn-light drawer-button" (click)="toggleDrawer()">
      <!-- Use image from assets folder instead of lines -->
      <img src="../../../assets/icons/menu_icon2.png" alt="Menu Icon" class="menu-icon"> <!-- Adjust the image source and class as needed -->
    </button>
    <h1 class="ml-2">Menu</h1>
  </div>
</div>
<app-drawerpage></app-drawerpage>
<main class="content">
    <!-- Drawer Component -->

  <!-- Container for text -->

  <div class="container my-2">
    <h2>Climate Analytical Data ML/Visualization (FYP II)</h2>
    <p>
      Here we are providing different AI AND ML services on the data that we are receiving from all areas in Southeast Asia,
      especially Pakistan, India, Iran, and Afghanistan. Our services help to correctly visualize this data into different layers
      on the map, providing clear and actionable insights.
    </p>

    <h1>Climate Temperature Data</h1>
    <div class="row">
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
    </div>

    <h1>Climate Pressure Data</h1>
    <div class="row">
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
    </div>

    <h1>Climate Humidity Data</h1>
    <div class="row">
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
      <div class="col-md-6">
        <app-temp-bar></app-temp-bar>
      </div>
    </div>
  </div>


</main>



