<div class="chart-container">
  <h1>Cities Climate Temperature Data</h1>
  <div class="data-toggle">
    <button (click)="setData('daily')">Daily</button>
    <button (click)="setData('monthly')">Monthly</button>
    <button (click)="setData('yearly')">Yearly</button>
  </div>


  <!-- Select Cities -->
  <div>
    <label>Select Cities:</label>
    <div class="city-grid">
      <div *ngFor="let city of allCities" class="city-item">
        <input
          title= "hi"
          type="checkbox"
          [value]="city.city"
          [checked]="selectedCities.includes(city.city)"
          (change)="onCitySelectionChange(city.city, $event)"
        />
        {{ city.city }} <!-- Display city name -->
      </div>
    </div>
  </div>

  <!-- Placeholder for SVG chart (or other graphing components) -->
  <svg></svg>
</div>
